body {
    font-family: verdana;
    font-size: 9pt;
    background: transparent url('/images/bg.jpg') repeat top left;
}

h1 {
    color:        black;
    text-shadow:  1px 1px 1px white;
    font-size:    18pt;
}

a:visited { border: 0; }
a img     { border: 0; }

a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

p.kontaktlink {
    margin-top: 35px;
}

div#banner {
    background: transparent url('/images/banner.png') no-repeat center center;
    width: 100%;
    height: 100px;
}

div.separator {
    background: transparent url('/images/line.png') repeat-x center bottom;
    border-bottom: 1px solid #333;
    height: 5px;
    width: 930px;
    margin-bottom: 20px;
    margin: auto auto;
}

div#pages {
    margin: auto auto;
    text-align: center;
}

div#content {
    color: white;
    text-shadow: 1px 1px 2px #111;
    width: 900px;
    height: 700px;
    margin: auto auto;
    margin-top: 20px;
}

div#main {
    float: left;
    width: 700px;

    margin-left: 20px;
    vertical-align: top;
}

div.buttons {
    float: left;
    width: 130px;
    margin-left: 25px;
}

div.buttons a img {
    border: 0;
}

/* navigation */
#nav {
    height:         40px;
    font-family:    Verdana;
    font-size:      9pt;
    width:          900px;
    margin:         auto auto;
    text-align:     center;
}

#nav ul {
    list-style:     none;
    top:            20px;
    position:       relative;
    padding:        0;
}

#nav li {
    display:        inline;
    padding-left:   20px;
    padding-right:  20px;
    border-right:   1px dotted #555;
    border-left:    1px dotted #555;
    text-transform: uppercase;
}

#nav ul li a.pbtn,a.pbtn:visited {
    word-spacing:   -2px;
    text-decoration:none;
    color:          white;
}

#nav a.current {
    border-bottom:  1px dotted #d3ffce;
}

#nav img {
    border:         0;
    margin:         auto auto;
    padding:        4px;
    display:        block;
}

#nav strong {
    display:block;
    font-size:13px;
}

div.kontakt-wrapper {
    width:         900px;
    height:        400px;
    margin:        auto auto;
    padding-top:   15px;
    color:         white;
}

div.kontakt-wrapper h1 {
    color:         white;
    text-shadow:   1px 1px 1px white;
    border-bottom: 1px dotted #333;
}

div.kontakt-wrapper img {
    margin-top:   15px;
    border:       2px solid black;
}

div.kontakt-wrapper a,a:visited {
    color:         #b76311;
}

div.firma {
    float:         left;
    margin:        10px 20px 0px 0px;
    padding-right: 45px;
    padding-left:  20px;
    line-height:   30px;
}

div.lau {
    float:         right;
    color:         white;
    text-align:    center;
    padding-right: 35px;
}


/* panes */
#panes {
    color:           black;
    background:      transparent url('/images/ex.png') no-repeat top left;
    border-top:      1px solid #111;
    width:           890px;
    height:          500px;
    margin-bottom:   -20px;
    padding-bottom:  60px;

    z-level:         0;
    /* must be relative so the individual panes can be absolutely positioned */
    position:        relative;
    margin:          auto auto;
    overflow:        auto;
}


/* crossfading effect needs absolute positioning from the elements */
#panes div {
    display:     none;
    position:    absolute;
    top:         30px;
    left:        20px;
    font-size:   14px;
    width:       870px;
}

#panes div p {
    margin-left: 5px;
}

#panes div img {
    padding: 10px;
}

#panes a {
/*     color: #fff9cd; */
       color: #222;
}

#panes ul li {
    margin-bottom: 5px;
}

#panes img {
    float:        left;
    margin-right: 20px;
    border:       0;
    border-right: 1px ridged #333;
    border-bottom: 1px ridged #333;
}

#panes h3 {
    margin:       0 0 -5px 0;
    font-size:    22px;
    font-weight:  normal;
}

div#panefooter {
    background: transparent url('/images/lowcurve.png') no-repeat top left;
    width:      880px;
    height:     70px;
    margin:     auto auto;
    margin-top: -6px;
}

.overlay {
    display:      none;
    width:        900px;
    padding:      20px;
    background-color:#ddd;
}

div#footer {
    float:       left;
    color:       #7F7F7F;
    line-height: 25px;
    width:       100%;
    height:      350px;
}

div#footer-wrap {
    width:       900px;
    margin:      0 auto;
}

div#footer-wrap div#contact {
    float:         left;
    margin:        10px 20px 0px 0px;
    padding-right: 45px;
    border-right:  1px dotted #333;
}

div#footer-wrap div {
    float:       left;
    margin:      10px 20px 0px 0px;
}

div#footer-wrap div a,a:visited {
    color:       #b76311;
}

