.scrollable {
	position:relative;
	overflow:hidden;
	width: 830px;
	height: 240px;
	margin: 60px auto;
	background: transparent url(/images/slider/frame.png) no-repeat top left;
}

.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
	margin-top:    20px;
	margin-bottom: 20px;

}

.items div {
    float:left;
    width:830px;
    margin-left: 40px;
}

.items div img.thumb {
    float: right;
}

/* .items > div > a,a:visited { */
.clink {
    position:      relative;
    top:           -50px;
    left:          450px;
    color:         #fff9cd;
    font-size:     110%;
}

/* single scrollable item
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;

	height:75px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
*/
/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}


