/*
    anythingSlider v1.2

    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/


#slider  {
    width:     930px;
    height:    245px;
    position:  relative;
    margin:    auto auto;
    top:       50px;
    margin-bottom: 150px;
}

#slider .wrapper {
    width:     830px;
    overflow:  auto;
    height:    240px;
    margin:    0 40px;
    position:  absolute;
    top:       0;
    left:      0;
    background:transparent url('/images/slider/frame.png') no-repeat top left;
}
                                       /* Width below is max for Opera */
#slider .wrapper ul {
    width:         32700px;
    list-style:    none;
    position:      absolute;
    top:           0;
    left:          0;
    margin-top:    20px;
    margin-bottom: 20px;
}

#slider ul li {
    display:       block;
    float:         left;
    padding:       0;
    height:        235px;
    width:         830px;
    margin:        0;
}

#slider ul li img.thumb {
    float: right;
}

#slider ul li a {
    position:      relative;
    top:           -50px;
    left:          450px;
    color:         #fff9cd;
    font-size:     110%;
}

#slider ul li a:visited {
    position:      relative;
    top:           -50px;
    left:          450px;
    color:         #fff9cd;
}


#slider .arrow {
    display:       block;
    height:        200px;
    width:         67px;
    background:    url(../images/arrows.png) no-repeat 0 0;
    text-indent:   -9999px;
    position:      absolute;
    top:           65px;
    cursor:        pointer;
}

#slider .forward {
    background-position: 0 0;
    right:         -20px;
}

#slider .back {
    background-position: -67px 0;
    left: -20px;
}

#slider .forward:hover {
    background-position: 0 -200px;
}

#slider .back:hover {
    background-position: -67px -200px;
}

#thumbNav {
    position:   relative;
    top:        226px;
    text-align: left;
    margin-left: 80px;
}

#thumbNav a {
    color:        black;
    font:         11px/18px Georgia, Serif;
    display:      inline-block;
    padding:      2px 8px;
    height:       18px;
    margin:       0 5px 0 0;
    background:   #c58b04 url('/images/slider/cellshade.png') repeat-x;
    text-align:   center; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;
}

#thumbNav a:hover {
    background-image: none;
}

#thumbNav a.cur {
    background: #e0a213;
}

#start-stop {
    background:       green;
    background-repeat:repeat-x;
    color:            white;
    padding:          4px 8px;
    width:            40px;
    text-align:       center;
    position:         absolute;
    right:            85px;
    top: 225px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;
}

#start-stop.playing {
    background-color: #111;
}
#start-stop:hover {
    background-image: none;
}

/*
  Prevents
*/
#slider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
#slider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }